.headerbg{
    background:rgb(192, 108, 152);
    width: 100vw;
    display:grid;
    grid-template-columns: auto 200px;
    color: #ffffff;
    height: 50px;
    align-items: center;
}
.headermenu{
    display:grid;
    grid-template-columns: repeat(2,1fr);

}
p{
    margin:0 !important
}
h2{
    margin:0 !important
}
.appmenu{
    padding-left: 10px;
}
table > thead > tr > th{
    border:1px solid black;
    table-layout:fixed;
    border-collapse: collapse;
}
table{
    border-collapse: collapse;
    width:90vw;
}
.tablealign{
    display:grid;
    width:100vw;
    justify-content:center;
}
table > tbody > tr > td{
    border:1px solid black;
    table-layout:fixed;
    text-align: center;    
    border-collapse: collapse;
}
.addempstyle > form{
    width:90vw;
    border:1px solid black;
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
.parAddEmp{
    width:100vw;
    height:100vh;
    display:grid;
    justify-content:center;
}
.addEmpForm{
    padding:30px;
    width:100%;
    display:grid;
    grid-template-columns:120px auto;
    margin-top: 30px;
    align-items: center;
}
.addEmpForm > label{
    font-size:20px;
    font-weight: bold;
}
.addEmpForm > input{
    height:40px
}
.addEmpbtn > button{
    padding: 10px 20px;
    margin-bottom: 10px;
    background: lightgreen;
    border: none;
    color: #ffffff;
}
.addEmpbtn{
    justify-content:center;
    grid-column: span 1/-1;
}